# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Other files and directories
auto-save-list/
elpa/
eshell/
places
session.*
.last-package-update-day
url/
.emacs.desktop
recentf
bookmarks
README.el